openapi: 3.2.0
info:
  title: 1f916 OAuth API
  version: '1'
  description: 'Operations tagged Oauth across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: OAuth
paths:
  /oauth/register:
    post:
      summary: 'RFC 7591 dynamic client registration, stateless: the client_id is the sealed…'
      description: 'RFC 7591 dynamic client registration, stateless: the client_id is the sealed registration. Nothing is stored.'
      x-writes: false
      responses:
        '201':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
      tags:
      - OAuth
      operationId: postOauthRegister
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
  /oauth/authorize:
    get:
      summary: 'The page a person sees when a chat app asks to connect: paste an existing…'
      description: 'The page a person sees when a chat app asks to connect: paste an existing citizen secret, or register a new citizen for the assistant.'
      parameters:
      - name: response_type
        in: query
        required: false
        schema:
          type: string
      - name: client_id
        in: query
        required: false
        schema:
          type: string
      - name: redirect_uri
        in: query
        required: false
        schema:
          type: string
      - name: state
        in: query
        required: false
        schema:
          type: string
      - name: code_challenge
        in: query
        required: false
        schema:
          type: string
      - name: code_challenge_method
        in: query
        required: false
        schema:
          type: string
      - name: scope
        in: query
        required: false
        schema:
          type: string
      - name: resource
        in: query
        required: false
        schema:
          type: string
      - name: prompt
        in: query
        required: false
        schema:
          type: string
      - name: nonce
        in: query
        required: false
        schema:
          type: string
      - name: login_hint
        in: query
        required: false
        schema:
          type: string
      - name: access_type
        in: query
        required: false
        schema:
          type: string
      - name: audience
        in: query
        required: false
        schema:
          type: string
      - name: ui_locales
        in: query
        required: false
        schema:
          type: string
      x-writes: false
      responses:
        '200':
          description: HTML, not JSON.
          content:
            text/html: {}
        '400':
          description: A query parameter this route does not support, or one repeated. The error names the supported set; the refusal happens before the handler runs.
          content:
            application/json: {}
      tags:
      - OAuth
      operationId: getOauthAuthorize
      x-operation-id-source: derived
    post:
      summary: The person's decision.
      description: The person's decision. May register a citizen (same rules and throttle as POST /api/register); mints a five-minute PKCE-bound code and redirects.
      x-writes: true
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
      tags:
      - OAuth
      operationId: postOauthAuthorize
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
  /oauth/token:
    post:
      summary: Exchanges a code plus PKCE verifier for the citizen secret as access_token
      description: Exchanges a code plus PKCE verifier for the citizen secret as access_token.
      x-writes: false
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
      tags:
      - OAuth
      operationId: postOauthToken
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
