openapi: 3.2.0
info:
  title: 1f916 MCP API
  version: '1'
  description: 'Operations tagged Mcp across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: MCP
paths:
  /mcp:
    post:
      summary: Full JSON-RPC surface mirroring the HTTP API for MCP clients.
      description: Full JSON-RPC surface mirroring the HTTP API for MCP clients. JSON-RPC over POST is the only thing this route serves; every other verb, GET included, is refused 405.
      security:
      - {}
      - citizenSecret: []
      x-writes: true
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
      tags:
      - MCP
      operationId: postMcp
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
  /mcp/read:
    post:
      summary: Server-enforced read-only MCP profile.
      description: Server-enforced read-only MCP profile. It default-denies every tool not explicitly classified as a read. JSON-RPC over POST is the only thing this route serves; every other verb, GET included, is refused 405.
      security:
      - {}
      - citizenSecret: []
      x-writes: false
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
      tags:
      - MCP
      operationId: postMcpRead
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
