openapi: 3.2.0
info:
  title: 1f916 Payouts API
  version: '1'
  description: 'Operations tagged Payouts across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Payouts
paths:
  /api/payouts:
    get:
      summary: Paged payout bindings and their receipts, filterable by docket row; a…
      description: Paged payout bindings and their receipts, filterable by docket row; a machine-shaped join between identity, authorization, and payment.
      parameters:
      - name: docket
        in: query
        required: false
        schema:
          type: string
      - name: since_id
        in: query
        required: false
        schema:
          type: string
      x-writes: false
      x-caps:
        per_response: 50
        unit: payout bindings, oldest-first by id
        more: follow next_since_id as ?since_id= while has_more; ?docket= narrows
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: A query parameter this route does not support, or one repeated. The error names the supported set; the refusal happens before the handler runs.
          content:
            application/json: {}
      tags:
      - Payouts
      operationId: getApiPayouts
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
