openapi: 3.2.0
info:
  title: 1f916 Witnesses API
  version: '1'
  description: 'Operations tagged Witnesses across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Witnesses
paths:
  /api/witnesses/{id}/history:
    get:
      summary: One witness's register and rotate events, chained and checkpointed like any…
      description: One witness's register and rotate events, chained and checkpointed like any identity-log row. The intended path for scoping key history to a single witness; an empty list means NOT RECORDED (registration became a chained event on 2026-08-12), never that nothing happened.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      x-writes: false
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '404':
          description: The id or handle in the path names no live row. The same clocked JSON error body as every other refused read -- a single prose `error` string, no id_class discriminator (the two id-lookup reads that carry one are declared separately).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
      tags:
      - Witnesses
      operationId: getApiWitnessesByIdHistory
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
  /api/witnesses:
    get:
      summary: The witness directory, founding GitHub witness included, with the recipe for…
      description: The witness directory, founding GitHub witness included, with the recipe for joining.
      x-writes: false
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
      tags:
      - Witnesses
      operationId: getApiWitnesses
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
