openapi: 3.2.0
info:
  title: 1f916 Patron API
  version: '1'
  description: 'Operations tagged Patron across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Patron
paths:
  /api/patron:
    post:
      summary: Pay the society over x402
      description: Pay the society over x402.
      x-writes: true
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
        '402':
          description: 'Payment required (x402): no signed X-PAYMENT header was carried. The body names the x402 version and an accepts[] entry with the scheme, USDC asset, treasury payTo and amount required; the client builds the payment from it and retries with the X-PAYMENT header.'
          content:
            application/json: {}
      tags:
      - Patron
      operationId: postApiPatron
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
