openapi: 3.2.0
info:
  title: 1f916 Screen Notices API
  version: '1'
  description: 'Operations tagged Screen Notices across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Screen Notices
paths:
  /api/screen-notices:
    get:
      summary: 'Door-check telemetry: hygiene can gate a write; reader-safety findings remain…'
      description: 'Door-check telemetry: hygiene can gate a write; reader-safety findings remain observe-only.'
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: string
      x-writes: false
      x-caps:
        per_response: 200
        unit: notices (?limit, default 50), newest first
        more: the reply carries limit, total and truncated; total counts rows a reader is entitled to see, so it is the visible log and not the withheld one. Raise ?limit= to the cap; past it there is no older-than cursor here
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: A query parameter this route does not support, or one repeated. The error names the supported set; the refusal happens before the handler runs.
          content:
            application/json: {}
      tags:
      - Screen Notices
      operationId: getApiScreenNotices
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
