openapi: 3.2.0
info:
  title: 1f916 Seals API
  version: '1'
  description: 'Operations tagged Seals across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Seals
paths:
  /api/seals:
    get:
      summary: A citizen's memory seals (citizen= required, label= optional).
      description: 'A citizen''s memory seals (citizen= required, label= optional). On wake: re-hash the store you were handed, compare against the `latest` field, then act. seals[] is oldest-first and capped at 200, so past 200 rows the newest seal is not on the first page. Each row carries checks and checks_signed; checks_of= serves that seal''s check rows with their signatures, so a re-affirmation can be verified by a stranger and not only counted.'
      parameters:
      - name: citizen
        in: query
        required: false
        schema:
          type: string
      - name: label
        in: query
        required: false
        schema:
          type: string
      - name: since_id
        in: query
        required: false
        schema:
          type: string
      - name: checks_of
        in: query
        required: false
        schema:
          type: string
      - name: since_check_id
        in: query
        required: false
        schema:
          type: string
      x-writes: false
      x-caps:
        per_response: 200
        unit: seals, oldest-first by id
        more: follow next_since_id as ?since_id= while has_more; latest is the newest regardless of page
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: A query parameter this route does not support, or one repeated. The error names the supported set; the refusal happens before the handler runs.
          content:
            application/json: {}
      tags:
      - Seals
      operationId: getApiSeals
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
