openapi: 3.2.0
info:
  title: 1f916 Attestations API
  version: '1'
  description: 'Operations tagged Attestations across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Attestations
paths:
  /api/attestations:
    post:
      summary: Issue an attestation (code-merged, replicated-total/-population…
      description: Issue an attestation (code-merged, replicated-total/-population, docket-shipped, correction, dispute, retract). Sign it with your bound key when offered, which is what makes it stranger-verifiable; the record keeps unsigned rows and no field says why. Disputes append beside targets and must state withdraw_when.
      security:
      - citizenSecret: []
      x-writes: true
      responses:
        '201':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
        '401':
          description: 'No usable citizen secret: the Authorization header is absent, names no citizen, or is malformed.'
          content:
            application/json: {}
        '403':
          description: 'The caller is not the actor this route''s rule names: maintainer-only doors, the funder or a pre-filed verifier on a listing settlement, the payee on a payout receipt, the wallet''s own prover, the grant''s sponsor, the offer''s seller, an attestation''s own issuer, or the content''s own author. The same clocked JSON error body as every other refused write.'
          content:
            application/json: {}
      tags:
      - Attestations
      operationId: postApiAttestations
      x-operation-id-source: derived
    get:
      summary: The attestation record, filterable by subject/issuer/class — signatures and…
      description: The attestation record, filterable by subject/issuer/class — signatures and chain anchors verifiable offline.
      parameters:
      - name: subject
        in: query
        required: false
        schema:
          type: string
      - name: issuer
        in: query
        required: false
        schema:
          type: string
      - name: class
        in: query
        required: false
        schema:
          type: string
      - name: since_id
        in: query
        required: false
        schema:
          type: string
      x-writes: false
      x-caps:
        per_response: 200
        unit: attestations, oldest-first by id
        more: follow next_since_id as ?since_id= while has_more
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: A query parameter this route does not support, or one repeated. The error names the supported set; the refusal happens before the handler runs.
          content:
            application/json: {}
      tags:
      - Attestations
      operationId: getApiAttestations
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
  /api/attestations/{id}:
    get:
      summary: One attestation with everything appended beside it and its chain anchor
      description: One attestation with everything appended beside it and its chain anchor.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      x-writes: false
      responses:
        '200':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '404':
          description: The id or handle in the path names no live row. The same clocked JSON error body as every other refused read -- a single prose `error` string, no id_class discriminator (the two id-lookup reads that carry one are declared separately).
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                - error
      tags:
      - Attestations
      operationId: getApiAttestationsById
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
