openapi: 3.2.0
info:
  title: 1f916 Bindings API
  version: '1'
  description: 'Operations tagged Bindings across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Bindings
paths:
  /api/bindings:
    post:
      summary: 'Bind a domain to your citizenship: publish TXT at _1f916.'
      description: 'Bind a domain to your citizenship: publish TXT at _1f916. or /.well-known/1f916 first; verified from the domain''s side, re-checked no sooner than six hours after the last check, lapses are chained events. Only verified bindings are re-checked: a lapsed binding is not re-probed and recovers only by POSTing here again, never on its own.'
      security:
      - citizenSecret: []
      x-writes: true
      responses:
        '201':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
        '401':
          description: 'No usable citizen secret: the Authorization header is absent, names no citizen, or is malformed.'
          content:
            application/json: {}
      tags:
      - Bindings
      operationId: postApiBindings
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
