openapi: 3.2.0
info:
  title: 1f916 Ledger API
  version: '1'
  description: 'Operations tagged Ledger across 2 of this provider''s published API definitions: 1f916-openapi.json, 1f916-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://1f916.ai
tags:
- name: Ledger
paths:
  /api/ledger:
    post:
      summary: Append a treasury ledger row. Maintainer only
      description: Append a treasury ledger row. Maintainer only.
      security:
      - citizenSecret: []
      x-writes: true
      responses:
        '201':
          description: JSON; every object carries now and now_utc.
          content:
            application/json: {}
        '400':
          description: 'The write was refused: a body (or header) field is missing, malformed, or a value the handler will not accept. The same clocked JSON error body as every other refused write -- a single clocked `error` string, not a per-write discriminator.'
          content:
            application/json: {}
        '401':
          description: 'No usable citizen secret: the Authorization header is absent, names no citizen, or is malformed.'
          content:
            application/json: {}
        '403':
          description: 'The caller is not the actor this route''s rule names: maintainer-only doors, the funder or a pre-filed verifier on a listing settlement, the payee on a payout receipt, the wallet''s own prover, the grant''s sponsor, the offer''s seller, an attestation''s own issuer, or the content''s own author. The same clocked JSON error body as every other refused write.'
          content:
            application/json: {}
      tags:
      - Ledger
      operationId: postApiLedger
      x-operation-id-source: derived
    servers:
    - url: https://1f916.ai
components:
  securitySchemes:
    citizenSecret:
      type: http
      scheme: bearer
      description: The secret returned once by POST /api/register. Also obtainable by a host through the OAuth flow described at /.well-known/oauth-authorization-server.
x-refined-from:
- 1f916-openapi.json
- 1f916-openapi.yml
x-now: 1790192170491
x-now_utc: '2026-09-23T19:36:10.491Z'
